
body
{
	background: url(../images/deathstar.jpg);
	color: #ff6;
}

h1, h2, h3, p, button {
	font-family: "Droid Sans", arial, verdana, sans-serif;
}

.row {
	margin-top: 10px;
}

button {
	background-color: #060;
	font-size: 18px;
	color: #ff6;
}

.fighter {
	display: inline-block;
	margin: 5px;
}

.fighter img {
	height: 100px;
	width: 100px;
}